<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tab1</key>
	<string>ca-app-pub-5233014957496412/6518784779</string>
	<key>Tab2</key>
	<string>ca-app-pub-5233014957496412/2028032501</string>
</dict>
</plist>
