<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BearerToken</key>
	<string>AAAAAAAAAAAAAAAAAAAAAB1J9gAAAAAAn0prIGLTVP8m2q%2FYfbo5Fvfdpbw%3Dgn9dXhzApHkV5IZeYHDVvdqQX9JyInto0DtoFBT9TjrxOlM5lA</string>
	<key>APIKey</key>
	<string>o2p62kIvNKnf8qgo4UKUq3Jim</string>
</dict>
</plist>
